In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('/home/misiur/Projects/alepogoda/outsource data/historical/hist_temp_data.csv')
df.head()

       City        Date  temp_max  temp_min
0  Warszawa  2023-01-01        19        11
1  Warszawa  2023-01-02        14         6
2  Warszawa  2023-01-03        11         4
3  Warszawa  2023-01-04         7        -3
4  Warszawa  2023-01-05         9         3

In [13]:
forecasts = []

for _, group in df.groupby('City'):
    for i, row in group.iterrows():
        forecast_row = {'city': row['City'], 'date': row['Date']}

        # Utwórz kolumny prognoz na kolejne 7 dni począwszy od danego dnia
        for j in range(1, 8):
            # Sprawdź, czy istnieją dane dla dnia j
            if i+j < len(group):
                # Oblicz temperatury prognoz dla dnia j
                forecast_max = group.iloc[i+j]['temp_max'] + (j)*2 - (j)**2
                forecast_min = group.iloc[i+j]['temp_min'] - (j)*2 + (j)**2
                
                # Dodaj losową wartość do temperatur, aby uzyskać mniej dokładne prognozy
                forecast_max += int((10 - j)*pd.Series([1,-1]).sample(n=1).values[0])
                forecast_min += int((10 - j)*pd.Series([1,-1]).sample(n=1).values[0])
                
                # Dodaj kolumny prognoz do wiersza prognoz
                forecast_row[f'forecast_{j-1}_max'] = forecast_max
                forecast_row[f'forecast_{j-1}_min'] = forecast_min
            else:
                # Jeśli nie ma odpowiednich danych, ustaw wartości NaN
                forecast_row[f'forecast_{j-1}_max'] = np.nan
                forecast_row[f'forecast_{j-1}_min'] = np.nan

df_forecasts = pd.DataFrame(forecasts)
df_forecasts.head()
#df_forecasts.to_csv("forecasts_gen.csv", index=False)

Empty DataFrame
Columns: []
Index: []